.Contact {
  background-color: #ECFDFE;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.Contact .caption {
  margin-top: 100px;
  font-family: Futura-Medium;
  font-size: 38px;
  letter-spacing: 0;
  align-self: center;
}

.Contact .description {
  margin-top: 50px;
  text-align: center;
  color: black;
  padding-left: 40px;
  padding-right: 40px;
}

.go-to {
  margin-top: 50px;
  background-color: rgba(236, 4, 104, 0.82);
  color: black;
  width: 126px;
  height: 62px;
  text-align: center;
  margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 230px;
    font-size: 1.2em;
    text-decoration: none;
}


.go-to:hover {
  cursor: pointer;
  background-color: rgb(133 230 225);
  color: #132242;
}

.Contact .links {
  display: flex;
  align-self: center;
  
}

.Contact .link-icons {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
}

.link-icons img {
  margin-bottom: 0;
}

.copyright {
  font-size: 15px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}


@media only screen and (min-width: 992px) {

  .Contact {
    padding-left: 130px;
    padding-right: 130px;
  }

  .Contact .description {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

}

@media only screen and (min-width: 1200px) {
  .Contact {
    padding-left: 160px;
    padding-right: 160px;
  }
}