.Hero {
  display: flex;
  flex-direction: column;
  margin-bottom: 29px;
  height: 100vh;
}

.modal {
  position: fixed;
  z-index: 1100;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease 0s;
  background-color: #0c0c40;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s ease 0s, transform 0s ease 0.3s;
  transform: translate3d(100%, 0px, 0px);
}


.modal-body {
  width: 100%;
  height: 100%;
}

.hero-title {
  padding: 0 25px;
margin-top: 37%;
font-family: Futura-Bold;
font-size: 3.2em;
color: #9FEDEA;
letter-spacing: 0;
}

.hero-subtitle {
  padding: 0 25px;
  font-family: Futura-Bold;
  font-size: 2.4em;
  color: #F2FDFE;
  letter-spacing: 0;
  line-height: 47px;
  font-weight: bold;
  
}

.hero-details {
  padding: 0 25px;
  font-family: HiraginoSans-W2;
color: #ECFDFE;
letter-spacing: 0;
line-height: 23px;
margin-top: 32px;
}

.explore {
  border: 1px solid #46B8BC;
  width: 137px;
  height: 46px;
  background-color: transparent;
  font-family: HiraginoSans-W3;
color: #46B8BC;
letter-spacing: 0;
text-align: center;
margin-top: 10%;
align-self: center;
}



.explore:hover {
  border: 1px solid black;
  background-color: #46B8BC;
  color: black;
}

.menu-icon {
  display: block;
  margin-right: 29px;
  margin-top: 52px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 40px;
  width: 50px;
}

.menu-icon img {
  width: 50px;
  height: 50px;
}

svg:hover {

  fill: red;
}

.menu-icon svg {
  cursor: pointer;
}