.ProjectsMain {
  background-color: #ECFDFE;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.subtitle {
  margin-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
}

.ProjectsMain .project-description {
  font-family: HiraginoSans-W3;
color: black;
letter-spacing: 0;
text-align: center;
line-height: 20px;
}

.ProjectsMain .project {
  margin-bottom: 100px;
}

.ProjectsMain .links {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProjectsMain .links img {
  height: 32px;
  width: 32px;
}

.link-icons {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.medias {
  margin-top: 30px;
  margin-left: 25px;
  margin-right: 25px;
}

.medias img {
  width: 100%;
}

.ProjectsMain .tags {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  column-gap: 10px;
  row-gap: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.ProjectsMain .tags > span {
  background: #A1E8ED;
  font-family: HiraginoSans-W3;
  letter-spacing: 0;
  text-align: center;
  padding: 5px 11px;
  border-radius: 3px;
}

.project-description {
  padding: 0 25px;
}


@media only screen and (min-width: 992px) {

  .ProjectsMain {
    padding-left: 130px;
    padding-right: 130px;
  }

  .ProjectsMain .links {
    justify-content: flex-start;
    margin-top: 40px;
  }

  .ProjectsMain .project-description {
    margin-top: 30px;
    padding: 0;
    text-align: left;
  }

  .ProjectsMain h3 {
    margin-bottom: 100px;
  }

  .project {
    display: flex;
    flex-direction: row;

  }

  .right {
    flex-basis: 50%;
    order: 0;
    padding-right: 40px;
  }

  .left {
    flex-basis: 50%;
    order: 1;
    padding-left: 40px;
  }
}

@media only screen and (min-width: 1200px) {
  .ProjectsMain {
    padding-left: 160px;
    padding-right: 160px;
  }


}