.ProjectsSecondary {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-title {
  padding-left: 40px;
  padding-right: 40px;
  color: #9FEDEA;
}

.projects {
  display: grid;
  row-gap: 22px;
  margin: 0 25px;
}

.ProjectsSecondary .project-description {
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: left;
  margin-top: 20px;
}

.links {
  display: flex;
}

.ProjectsSecondary .project {
  background: #15274a;
  box-shadow: rgba(0, 0, 0, 0.12) 0.3125rem 0.3125rem 0.9375rem;


}

.ProjectsSecondary .tags {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  padding: 0 25px;
  padding-bottom: 10px;
}

.ProjectsSecondary .tags > span {
  font-family: HiraginoSans-W5;
  font-size: 0.9em;
  color: #9FEDEA;
  letter-spacing: 0;
  text-align: justify;
}

.ProjectsSecondary .links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  margin-right: 15px;
}

.ProjectsSecondary .project-card-body {
  display: flex;
  margin-bottom: 20px
}