.ProjectsSecondary {
  padding-bottom: 200px;
  padding-top: 150px;
}

.section-title {
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 60px;
  color: #9FEDEA;
}

.projects {
  display: grid;
  row-gap: 22px;
  margin: 0 25px;
}

.ProjectsSecondary .project-description {
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: left;
  margin-top: 20px;
}

.links {
  display: flex;
}

.ProjectsSecondary .project {
  background: #15274a;
  box-shadow: rgba(0, 0, 0, 0.12) 0.3125rem 0.3125rem 0.9375rem;
  display: flex;
  padding: 0 25px;
}

.ProjectsSecondary .tags {
  margin-top: 30px;
  column-gap: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

.ProjectsSecondary .tags > span {
  font-family: HiraginoSans-W5;
  font-size: 0.9em;
  color: #9FEDEA;
  letter-spacing: 0;
  text-align: justify;
  line-height: 2;
}

.ProjectsSecondary .links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  align-items: flex-end;

}

.ProjectsSecondary .project-card-body {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  width: 80%;
}

@media only screen and (min-width: 992px) {

  .ProjectsSecondary {
    padding-left: 130px;
    padding-right: 130px;
  }

  .ProjectsSecondary .project-card-body {
    flex-direction: row;
  }

  .ProjectsSecondary .tags {
    margin-top: 20px;
  }

  .ProjectsSecondary .project-description {
    flex: 1 1 0px;
    margin-right: 30px
  }

  .ProjectsSecondary .tags {
    flex: 1 1 0px
  }

  .ProjectsSecondary .links {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .links img {
    margin-left: 20px;
  }


}

@media only screen and (min-width: 1200px) {
  .ProjectsSecondary {
    padding-left: 160px;
    padding-right: 160px;
  }
}