.Testimonials {
  background-color: #ECFDFE;
  padding-top: 150px;
  padding-bottom: 150px;
}

.message {
  background-color: #C4F3F6;
}

.Testimonials .section-title {
  font-family: Futura-Medium;
  color: #132242;
  letter-spacing: 0;
  text-align: center;
  line-height: 40px;
  
  font-family: Futura-Medium;
  letter-spacing: 0.23px;
  font-weight: 700;
}

.Testimonials .avatar {
  width: 36px;
  height: 36px;
  color: red;
  align-self: center;
}

.person-information {
  font-family: Futura-Medium;
  letter-spacing: 0.23px;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.Testimonials .testimonial {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.testimonial .message {
  padding: 20px;
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
  color: black;
  line-height: 1.5;
}

.date-from {
  margin-top: 11px;
}

.circle {
  border: 2px solid rgb(7 94 117);
    background-color: rgb(0 0 0 / 0%);
    height: 56px;
    border-radius: 50%;
    width: 56px;
    align-self: center;
    position: absolute;
    margin-top: -8px;
}

.quote {
  font-size: 4.5em;
  color: #105e74;
  line-height: 1;
}


@media only screen and (min-width: 992px) {

  .Testimonials {
    padding-left: 130px;
    padding-right: 130px;
  }

}

@media only screen and (min-width: 1200px) {
  .Testimonials {
    padding-left: 160px;
    padding-right: 160px;
  }

  .testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}