html, body {
  height:100%;
  font-family: HiraginoSans-W2;
  font-size: 13px;
  letter-spacing: 0;
  color: #132242;
  line-height: 20px;
  width: 100%;
}

html {
  box-sizing: border-box;
  width: 100%;
}

button {
  outline: none;
  cursor: pointer;
}

body {
  background-color: #132242;
}

* {
  margin: 0;
  padding: 0;
  color: #333;
  font-weight: 100;
  font-size: 18px;
}

.btn {
  cursor: pointer;
}

h3 {
  font-family: Futura-Medium;
  font-size: 36px;
  color: #132242;
  letter-spacing: 0;
  text-align: center;
  line-height: 38px;
}