html, body {
  height:100%;
  font-family: HiraginoSans-W3;
  font-size: 18px;
  letter-spacing: 0;
  color: #132242;
  line-height: 20px;
  width: 100%;
  font-weight: 300;
}

html {
  box-sizing: border-box;
  width: 100%;
}

button {
  outline: none;
  cursor: pointer;
}

body {
  background-color: #132242;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  color: #132242;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
}

.btn {
  cursor: pointer;
}


h3 {
  font-family: Futura-Medium;
  font-size: 42px;
  color: #132242;
  letter-spacing: 0;
  text-align: center;
  line-height: 1.2;
}

h4 {
  font-family: Futura-Medium;
  font-size: 24px;
  letter-spacing: 0;
  text-align: center;
  color: #132242;
  line-height: 1.2;
  font-weight: normal;
}



@media only screen and (min-width: 768px) {
  * {
    font-size: 18px;
    line-height:1.5;

  }

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {
  * {
    font-size: 18px;
  }
}